@model Sayfalar


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">@Model.Baslık</h3>
    
    
  <div>


      @Model.İcerik
  </div>
    
    
    
    
    
    
    
    </div>
